* {
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: rgba(114, 94, 69, 0.795)
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    }

body{
    margin: 0;
}

/*header*/

  header{
    color: rgb(190, 190, 190);
    padding: 0 0 20px 0;
  }

  nav {
    width: 100%;
    height: 80px;
    background-color: rgb(32, 30, 30);
    box-shadow: 0 0 10px 0 rgb(0 0 0/ 50%);
    display: flex;
    justify-content: center;
  }

  .menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 80px;
  }

  .menu li{
    list-style: none;
    display: flex;
  }

  .menulia{
    color: rgb(180, 180, 180);
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .menulia:hover{
    color: rgb(255, 255, 255);
  }

  /*header*/

body{
  background-color: rgba(153, 108, 48, 0.795);
}

.main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainList{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.mainElem{
  display: flex;
}

.container{
    background-color: rgba(255, 255, 255, 0.664);
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px 0 rgba(0 0 0/ 50%);
}

.chartFooter{
    display: flex;
    justify-content: space-between;
}

.chartListelem{
    display: flex;
    padding: 0px 30px 0 0px;
}

.chartQuelle{
    display: flex;
    padding: 0;
}

.chartQuelleelem{
    display: flex;
    padding: 0 20px 0 0;
}

.Quelle {
    text-decoration: none;
}

.Quelle:hover{
    color: green;
}

