* {
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-family: 'Montserrat', sans-serif;
}

html {
    background: url() no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    }

body{
    margin: 0;
}

/*header*/

  header{
    color: black;
    padding: 0 0 20px 0;
  }

  nav {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px 0 rgb(0 0 0/ 50%);
  }

  .menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 80px;
  }

  .menu li{
    list-style: none;
    display: flex;
  }

  .menu li a{
    color: black;
    font-size: 24px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .menu li a:hover{
    color: darkgray;
  }

  /*header*/

.container{
    background-color: rgb(255, 255, 255);
    Padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0 0 0/ 50%);
}

.chartFooter{
    display: flex;
    justify-content: space-between;
}

.chartListelem{
    display: flex;
    padding: 0px 30px 0 0px;
}

.chartQuelle{
    display: flex;
    padding: 0;
}

.chartQuelleelem{
    display: flex;
    padding: 0 20px 0 0;
}

.Quelle {
    text-decoration: none;
}

.Quelle:hover{
    color: green;
}

