/* allgemein*/

* {
    color: white;
  text-decoration: none;
  font-family: Arial;
  padding: 0;
  margin: 0;
  


  }

  html {
    background: url(hintergrund.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    }
/*allgemein*/
/*header*/


  .home {
    color: black;
    font-size: 36px;
    height: 50px;
    width: 150px;
    border-radius: 1000px;
    box-shadow: none;
    background-color: white;
    text-align: center;
    transition: 0.5s;
  }

  .home:hover {
    transform: scale(1.2);
    color: white;
    background-color: black;
  }

  header{
    color: black;
    box-shadow: 0 0 10px 0 rgb(0 0 0/ 50%);
  }

  nav {
    width: 100%;
    height: 100px;
    background-color: rgba(169, 169, 169, 0.5);
  }

  .menu{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100px;
  }

  .menu li{
    list-style: none;
    display: flex;
    float: left;

  }

  .menu li a{
    color: black;
    font-size: 24px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .menu li a:hover{
    color: white;


  }

  /*header*/
  /*home*/
  .main{
    display: flex;
    justify-content: center;
  }

  .start {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 100px 0 100px 0;
    border-radius: 1000px;
    background-color: lightgreen;
    font-size: 28px;
    height: 100px;
    width: 250px;
    transition: 0.5s;
  }

  .start-button{ 
    color: black;
    font-size: 28px;
    height: 100px;
    width: 250px;
    border-radius: 1000px;
    background-color: lightgreen;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 0.5s;
  }

  .start-button:hover {
    transform: scale(1.2);
    color: white;
    background-color: blue;
  }
/*home*/
/*footer*/
  .footer{
    background-color: rgba(169, 169, 169, 0.5);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
  }

 .text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: rgba(1, 255, 1, 0.5); 
    height: 100px;
    padding: 0 20px;
  }
  /*footer*/
  
  /*nope*/
.nopetry{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 1000px;
  width: 150px;
  background-color: red;

  transition: 0.5s;
}

.nopetry:hover{
  transform: scale(1.1);
  background-color: lightgreen;
}

.nopetext{
  display: flex;
  justify-content: center;
}

.nopegif{
  padding: 0 0 20px;
}


.nopemain{
  display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 400px;
}
/*nope*/

.quest{
display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    margin: 50px;
    font-size: 40px;
    border-radius: 1000px;
    width: 300px;
    height: 100px;
    background-color: lightgreen;
    box-shadow: 0 0 10px 0 black;
}

.main-question{
  font-size: 40px;
  justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.question{
  display: flex;
  flex-direction: column;
    justify-content: center;
    text-align: center; 
    padding: 0px 20px 0 20px;
    font-size: 40px;
    border-radius: 1000px;
    height: 75px;
    background-color: lightgreen;
    box-shadow: 0 0 10px 0 black;
}

.answers{
display: flex;
margin: 50px;
}

.quiz-answer{
display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 30px;
}

.quiz-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    border-radius: 1000px;
    padding: 10px 20px 10px 20px;
    background-color: blue;
    box-shadow: 0 0 10px 0 black;

    transition: 0.5s;
}

.quiz-text:hover{
  color: black;
  transform: scale(1.1);

}

.win{
  margin: 100px 400px 100px 400px;
  background-color: blue;
  text-align: center;

  animation: spin 1.5s;
}

@keyframes spin {
  0%{
    margin: 100px 400px 100px 400px;
    border-radius: 0;

  }
  33%{
    margin: 100px 400px 100px 400px;
    border-radius: 100%;
  }

  66%{
    margin: 100px 400px 100px 400px;
    border-radius: 0;

  }
  100%{
    margin: 100px 400px 100px 400px;
    border-radius: 100%;
  }
}

